<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<LocalFiles>C:\ClientHealth</LocalFiles> <!-- Path locally on computer for temporary files and local clienthealth.log if LocalLogFile="True" -->
	<Client Name="Version">5.00.8853.1006</Client>
	<Client Name="SiteCode">PS1</Client>
	<Client Name="Domain">rodland.lab</Client>
	<Client Name="AutoUpgrade">True</Client>
	<Client Name="Share">\\CM01.rodland.lab\Clienthealth$\Client</Client>
	<Client Name="CacheSize" Value="10240" DeleteOrphanedData="True" Enable="True" />
	<Client Name="Log" MaxLogSize="4096" MaxLogHistory="1" Enable="True" />
	<ClientInstallProperty>SMSSITECODE=PS1</ClientInstallProperty>
	<ClientInstallProperty>MP=CM01.rodland.lab</ClientInstallProperty>
	<ClientInstallProperty>FSP=CM01.rodland.lab</ClientInstallProperty>
	<ClientInstallProperty>DNSSUFFIX=rodland.lab</ClientInstallProperty>
	<ClientInstallProperty>/Source:\\CM01.rodland.lab\Clienthealth$\client</ClientInstallProperty>
	<ClientInstallProperty>/MP:CM01.rodland.lab</ClientInstallProperty>
	<ClientInstallProperty>/skipprereq:silverlight.exe</ClientInstallProperty>
	<Log Name="File" Share="\\CM01.rodland.lab\ClientHealthLogs$" Level="Full" MaxLogHistory="8" LocalLogFile="True" Enable="True" /> <!-- Level: Full = everything. ClientInstall = only if installation of sccm agent fails.  -->
	<Log Name="SQL" Server="CM01.rodland.lab" Enable="True" />
	<Log Name="Time" Format="ClientLocal" /> <!-- Valid formats: ClientLocal / UTC  -->
	<Option Name="CcmSQLCELog" Enable="False" /> <!-- Optional check on the ConfigMgr agent if local database is corrupt -->
	<Option Name="BITSCheck" Fix="True" Enable="True" />
	<Option Name="ClientSettingsCheck" Fix="True" Enable="True" />
	<Option Name="DNSCheck" Fix="True" Enable="True" />
	<Option Name="Drivers" Enable="True" />
	<Option Name="Updates" Share="\\CM01.rodland.lab\ClientHealth$\Updates" Fix="True" Enable="False" />
	<Option Name="PendingReboot" StartRebootApplication="False" Enable="True" />
	<Option Name="RebootApplication" Application="\\CM01.rodland.lab\ClientHealth$\RebootApp\shutdowntool.exe /t:7200 /m:1440" Enable="False" />
	<Option Name="MaxRebootDays" Days="7" Enable="True" />
	<Option Name="OSDiskFreeSpace">10</Option>
	<Option Name="HardwareInventory" Days="10" Fix="True" Enable="True" />
	<Option Name="SoftwareMetering" Fix="True" Enable="True" />
	<Option Name="WMI" Fix="True" Enable="True"/>
	<Option Name="RefreshComplianceState" Days="30" Enable="True"/>
	<Option Name="ClientGUIDCheck" Enable="True" />
	<Service Name="BITS" StartupType="Automatic (Delayed Start)" State="Running" Uptime=""/>
	<Service Name="winmgmt" StartupType="Automatic" State="Running" Uptime=""/>
	<Service Name="wuauserv" StartupType="Automatic (Delayed Start)" State="Running" Uptime=""/>
	<Service Name="lanmanserver" StartupType="Automatic" State="Running" Uptime=""/>
	<Service Name="RpcSs" StartupType="Automatic" State="Running" Uptime=""/>
	<Service Name="W32Time" StartupType="Automatic" State="Running" Uptime=""/>
	<Service Name="ccmexec" StartupType="Automatic (Delayed Start)" State="Running" Uptime="" />
	<Remediation Name="AdminShare" Fix="True" />
	<Remediation Name="ClientProvisioningMode" Fix="True" />
	<Remediation Name="ClientStateMessages" Fix="True" />
	<Remediation Name="ClientWUAHandler" Fix="True"  Days="30"/>
	<Remediation Name="ClientCertificate" Fix="True" />
</Configuration>
