/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2017 (14.0.3048)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [ClientHealth]
GO
/****** Object:  Trigger [T_TB_Clients_U]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP TRIGGER [dbo].[T_TB_Clients_U]
GO
/****** Object:  Trigger [T_TB_Clients_I]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP TRIGGER [dbo].[T_TB_Clients_I]
GO
/****** Object:  StoredProcedure [dbo].[up_GetErrorInfo]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP PROCEDURE [dbo].[up_GetErrorInfo]
GO
/****** Object:  StoredProcedure [dbo].[up_get_SCCMClientVersion]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP PROCEDURE [dbo].[up_get_SCCMClientVersion]
GO
/****** Object:  StoredProcedure [dbo].[up_get_SCCM_statusMsg]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP PROCEDURE [dbo].[up_get_SCCM_statusMsg]
GO
/****** Object:  StoredProcedure [dbo].[up_get_OS_Summary_data]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP PROCEDURE [dbo].[up_get_OS_Summary_data]
GO
/****** Object:  StoredProcedure [dbo].[up_get_ClientMainDiagramData]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP PROCEDURE [dbo].[up_get_ClientMainDiagramData]
GO
/****** Object:  StoredProcedure [dbo].[up_get_ClientData_flat]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP PROCEDURE [dbo].[up_get_ClientData_flat]
GO
/****** Object:  StoredProcedure [dbo].[up_get_ClientData_ActionResult]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP PROCEDURE [dbo].[up_get_ClientData_ActionResult]
GO
/****** Object:  StoredProcedure [dbo].[up_get_Client_Activities]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP PROCEDURE [dbo].[up_get_Client_Activities]
GO
/****** Object:  Table [dbo].[SCCM_StatusMsg]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP TABLE [dbo].[SCCM_StatusMsg]
GO
/****** Object:  Table [dbo].[SCCM_Config]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP TABLE [dbo].[SCCM_Config]
GO
/****** Object:  Table [dbo].[Report_Theme]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP TABLE [dbo].[Report_Theme]
GO
/****** Object:  Table [dbo].[ref_ServerStatMsg]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP TABLE [dbo].[ref_ServerStatMsg]
GO
/****** Object:  Table [dbo].[ref_ProvStatMsg]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP TABLE [dbo].[ref_ProvStatMsg]
GO
/****** Object:  Table [dbo].[ref_ClientStatMsg]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP TABLE [dbo].[ref_ClientStatMsg]
GO
/****** Object:  Table [dbo].[LogMsg]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP TABLE [dbo].[LogMsg]
GO
/****** Object:  View [dbo].[v_ClientData_historical]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP VIEW [dbo].[v_ClientData_historical]
GO
/****** Object:  View [dbo].[v_ClientData_ALL]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP VIEW [dbo].[v_ClientData_ALL]
GO
/****** Object:  Table [dbo].[Clients_Hist]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP TABLE [dbo].[Clients_Hist]
GO
/****** Object:  View [dbo].[v_ClientData_Actual]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP VIEW [dbo].[v_ClientData_Actual]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_Split]    Script Date: 2/22/2019 6:19:35 PM ******/
DROP FUNCTION [dbo].[udf_Split]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_Split]    Script Date: 2/22/2019 6:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create FUNCTION [dbo].[udf_Split](@List varchar(8000), @Splitter varchar(20) = ' ')
RETURNS @TB TABLE
(    
  position int IDENTITY PRIMARY KEY,
  value varchar(8000)   
)
AS
BEGIN
DECLARE @index int 
SET @index = -1 
WHILE (LEN(@List) > 0) 
 BEGIN  
    SET @index = CHARINDEX(@Splitter , @List)  
    IF (@index = 0) AND (LEN(@List) > 0)  
      BEGIN   
        INSERT INTO @TB VALUES (@List)
          BREAK  
      END  
    IF (@index > 1)  
      BEGIN   
        INSERT INTO @TB VALUES (LEFT(@List, @index - 1))   
        SET @List = RIGHT(@List, (LEN(@List) - @index))  
      END  
    ELSE 
      SET @List = RIGHT(@List, (LEN(@List) - @index)) 
    END
  RETURN
END
GO

/****** Object:  View [dbo].[v_ClientData_Actual]    Script Date: 2/22/2019 6:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- create now views 
CREATE VIEW [dbo].[v_ClientData_Actual]
AS
	SELECT  Hostname, OperatingSystem, Architecture, Build, Manufacturer, Model, InstallDate, 
			OSUpdates, LastLoggedOnUser, ClientVersion, PSVersion, PSBuild, Sitecode, Domain, MaxLogSize, 
			MaxLogHistory,CacheSize, ClientCertificate, ProvisioningMode, DNS, Drivers, Updates, PendingReboot, 
			LastBootTime, OSDiskFreeSpace, Services, AdminShare, StateMessages, WUAHandler, WMI, 
			RefreshComplianceState, ClientInstalled, Version, Timestamp, HWInventory, SWMetering, BITS, 
			PatchLevel, ClientInstalledReason
	FROM
		 dbo.Clients
GO
/****** Object:  Table [dbo].[Clients_Hist]    Script Date: 2/22/2019 6:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients_Hist](
	[ID] [int] IDENTITY(1,1500) NOT NULL,
	[Hostname] [varchar](100) NOT NULL,
	[OperatingSystem] [varchar](100) NOT NULL,
	[Architecture] [varchar](10) NOT NULL,
	[Build] [varchar](100) NOT NULL,
	[Manufacturer] [varchar](100) NOT NULL,
	[Model] [varchar](100) NOT NULL,
	[InstallDate] [smalldatetime] NULL,
	[OSUpdates] [smalldatetime] NULL,
	[LastLoggedOnUser] [varchar](100) NOT NULL,
	[ClientVersion] [varchar](100) NOT NULL,
	[PSVersion] [float] NULL,
	[PSBuild] [int] NULL,
	[Sitecode] [varchar](3) NULL,
	[Domain] [varchar](100) NOT NULL,
	[MaxLogSize] [int] NULL,
	[MaxLogHistory] [int] NULL,
	[CacheSize] [int] NULL,
	[ClientCertificate] [varchar](50) NULL,
	[ProvisioningMode] [varchar](50) NULL,
	[DNS] [varchar](100) NULL,
	[Drivers] [varchar](100) NULL,
	[Updates] [varchar](100) NULL,
	[PendingReboot] [varchar](50) NULL,
	[LastBootTime] [smalldatetime] NULL,
	[OSDiskFreeSpace] [float] NULL,
	[Services] [varchar](200) NOT NULL,
	[AdminShare] [varchar](50) NULL,
	[StateMessages] [varchar](50) NULL,
	[WUAHandler] [varchar](50) NULL,
	[WMI] [varchar](50) NULL,
	[RefreshComplianceState] [smalldatetime] NULL,
	[ClientInstalled] [smalldatetime] NULL,
	[Version] [varchar](10) NULL,
	[Timestamp] [datetime] NULL,
	[HWInventory] [smalldatetime] NULL,
	[SWMetering] [varchar](50) NULL,
	[BITS] [varchar](50) NULL,
	[PatchLevel] [int] NULL,
	[ClientInstalledReason] [varchar](200) NULL,
	[LOG_Created_Date] [datetime] NULL,
	[LOG_Created_by] [varchar](50) NULL,
	[LOG_Action] [varchar](50) NULL,
 CONSTRAINT [PK__Clients___3214EC278B487331] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ClientData_ALL]    Script Date: 2/22/2019 6:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  View [dbo].[v_ClientData_ALL]    Script Date: 2/6/2019 2:46:03 PM ******/
CREATE VIEW [dbo].[v_ClientData_ALL]
AS
	SELECT	[Hostname],[OperatingSystem],[Architecture],[Build],[Manufacturer],[Model],[InstallDate],
			[OSUpdates],[LastLoggedOnUser],[ClientVersion],[PSVersion],[PSBuild],[Sitecode],[Domain],
			[MaxLogSize],[MaxLogHistory],[CacheSize],[ClientCertificate],[ProvisioningMode],[DNS],
			[Drivers],[Updates],[PendingReboot],[LastBootTime],[OSDiskFreeSpace],[Services],[AdminShare],
			[StateMessages],[WUAHandler],[WMI],[RefreshComplianceState],[ClientInstalled],[Version],
			[Timestamp],[HWInventory],[SWMetering],[BITS],[PatchLevel],[ClientInstalledReason] 
	from 
		dbo.clients
	union 
	select 
			[Hostname],[OperatingSystem],[Architecture],[Build],[Manufacturer],[Model],[InstallDate],
			[OSUpdates],[LastLoggedOnUser],[ClientVersion],[PSVersion],[PSBuild],[Sitecode],[Domain],
			[MaxLogSize],[MaxLogHistory],[CacheSize],[ClientCertificate],[ProvisioningMode],[DNS],
			[Drivers],[Updates],[PendingReboot],[LastBootTime],[OSDiskFreeSpace],[Services],[AdminShare],
			[StateMessages],[WUAHandler],[WMI],[RefreshComplianceState],[ClientInstalled],[Version],
			[Timestamp],[HWInventory],[SWMetering],[BITS],[PatchLevel],[ClientInstalledReason] 
	from dbo.clients_hist

GO
/****** Object:  View [dbo].[v_ClientData_historical]    Script Date: 2/22/2019 6:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  View [dbo].[v_ClientData_historical]    Script Date: 2/6/2019 2:46:03 PM ******/
CREATE VIEW [dbo].[v_ClientData_historical]
AS
	SELECT  ID, Hostname, OperatingSystem, Architecture, Build, Manufacturer, Model, InstallDate, 
			OSUpdates, LastLoggedOnUser, ClientVersion, PSVersion, PSBuild, Sitecode, Domain, MaxLogSize, 
			MaxLogHistory, CacheSize, ClientCertificate, ProvisioningMode, DNS, Drivers, Updates, PendingReboot, 
			LastBootTime, OSDiskFreeSpace, Services, AdminShare, StateMessages, WUAHandler, WMI, 
			RefreshComplianceState, ClientInstalled, Version, Timestamp, HWInventory, SWMetering, BITS, 
			PatchLevel, ClientInstalledReason, LOG_Created_Date, LOG_Created_by, LOG_Action
	FROM    dbo.Clients_Hist
GO
/****** Object:  Table [dbo].[LogMsg]    Script Date: 2/22/2019 6:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogMsg](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LogMsg] [nvarchar](max) NOT NULL,
	[Logdate] [datetime] NOT NULL,
 CONSTRAINT [PK_LogMsg] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ref_ClientStatMsg]    Script Date: 2/22/2019 6:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ref_ClientStatMsg](
	[MessageID] [nvarchar](50) NULL,
	[MessageString] [nvarchar](max) NULL,
	[Severity] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ref_ProvStatMsg]    Script Date: 2/22/2019 6:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ref_ProvStatMsg](
	[MessageID] [nvarchar](50) NULL,
	[MessageString] [nvarchar](max) NULL,
	[Severity] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ref_ServerStatMsg]    Script Date: 2/22/2019 6:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ref_ServerStatMsg](
	[MessageID] [nvarchar](50) NULL,
	[MessageString] [nvarchar](max) NULL,
	[Severity] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report_Theme]    Script Date: 2/22/2019 6:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report_Theme](
	[Theme] [nvarchar](50) NOT NULL,
	[BG_01] [varchar](20) NOT NULL,
	[FG_01] [varchar](20) NOT NULL,
	[BG_02] [varchar](20) NOT NULL,
	[FG_02] [varchar](20) NOT NULL,
	[BG_03] [varchar](20) NOT NULL,
	[FG_03] [varchar](20) NOT NULL,
	[BG_04] [varchar](20) NOT NULL,
	[FG_04] [varchar](20) NOT NULL,
	[BG_red] [varchar](20) NOT NULL,
	[BG_green] [varchar](20) NOT NULL,
	[BG_header] [varchar](20) NOT NULL,
	[FG_header] [varchar](20) NOT NULL,
	[BG_footer] [varchar](20) NOT NULL,
	[FG_Footer] [varchar](20) NOT NULL,
	[BG_Info] [varchar](20) NULL,
	[BG_State_OK] [varchar](20) NULL,
	[FG_State_OK] [varchar](20) NULL,
	[BG_State_Repair] [varchar](20) NULL,
	[FG_State_Repair] [varchar](20) NULL,
	[BG_State_Error] [varchar](20) NULL,
	[FG_State_Error] [varchar](20) NULL,
 CONSTRAINT [PK_TB_Report_Theme] PRIMARY KEY CLUSTERED 
(
	[Theme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCCM_Config]    Script Date: 2/22/2019 6:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCCM_Config](
	[ID] [bigint] NOT NULL,
	[ConfigItem] [nvarchar](50) NOT NULL,
	[ConfigValue] [nvarchar](2000) NOT NULL,
	[Note] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCCM_StatusMsg]    Script Date: 2/22/2019 6:19:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCCM_StatusMsg](
	[RecordID] [bigint] NOT NULL,
	[ModuleName] [nvarchar](128) NOT NULL,
	[Severity] [int] NULL,
	[MessageID] [int] NOT NULL,
	[ReportFunction] [int] NULL,
	[SuccessfulTransaction] [int] NULL,
	[PartOfTransaction] [int] NULL,
	[PerClient] [int] NULL,
	[MessageType] [int] NULL,
	[Win32Error] [int] NULL,
	[Time] [datetime] NOT NULL,
	[SiteCode] [nvarchar](3) NOT NULL,
	[TopLevelSiteCode] [nvarchar](3) NULL,
	[MachineName] [nvarchar](128) NOT NULL,
	[Component] [nvarchar](128) NOT NULL,
	[ProcessID] [int] NULL,
	[ThreadID] [int] NULL,
	[AttributeTime] [datetime] NULL,
	[DeploymentID] [nvarchar](255) NULL,
	[MacAddress] [nvarchar](255) NULL,
	[PackageID] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[up_get_Client_Activities]    Script Date: 2/22/2019 6:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************/
/*** Script Name                  : - up_get_Client_Activities            ***/
/*** Script Version               : - 1.00                                ***/
/*** Script Desciption            : - SP for Client Activities            ***/
/*** Script Desciption            : - total / active / non-active         ***/
/*** Script Audience              : -                                     ***/
/*** Script Owner                 : - C-S-L K.Bilger                      ***/
/*** Scripter/Design              : - C-S-L K.Bilger                      ***/
/***                                                                      ***/
/*** Change History *********************************************************/
/*** Version (Old/New)            : - 1.00.00                             ***/
/*** Modification Date            : - 02/22/2019                          ***/
/*** By                           : - Klaus Bilger                        ***/
/*** Reason                       : -                                     ***/
/*** Comments                     : -                                     ***/
/***                                                                      ***/
/*** Version (Old/New)            : - %Version%                           ***/
/*** Modification Date            : - %DATE%                              ***/
/*** By                           : - %PERSON%                            ***/
/*** Reason                       : - %REASON%                            ***/
/*** Comments                     : - %COMMENTS%                          ***/
/***                                                                      ***/
/****************************************************************************/
CREATE PROCEDURE [dbo].[up_get_Client_Activities]
	@Para_Actual_Term as int , @Para_Device as Varchar(20) 
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
    SET NOCOUNT ON;
	-- debug declare @Para_Actual_Term as int = 3 , @Para_Device as Varchar(20) = '%'
	declare @InactiveClient as int 
	declare @DateFilter as date = (select dateadd(DAY,-@Para_Actual_Term,getdate()))
	declare @TotalCount as int = (select count(distinct Hostname) from v_ClientData_Actual	where Hostname like @Para_Device )
	declare @ActiveCount as int = (select count(distinct Hostname) from v_ClientData_Actual	where Hostname like @Para_Device and Timestamp >= @DateFilter)
	select 'SCCM Agent' as state, @TotalCount as Total_Count, 
		@ActiveCount as ActiveClients_Count, @TotalCount - @ActiveCount as NonActiveClients_Count

END
GO
/****** Object:  StoredProcedure [dbo].[up_get_ClientData_ActionResult]    Script Date: 2/22/2019 6:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************/
/*** Script Name                  : - up_get_ClientData_ActionResult      ***/
/*** Script Version               : - 1.00                                ***/
/*** Script Desciption            : - SP for Action Result (SUM) Data     ***/
/*** Script Audience              : -                                     ***/
/*** Script Owner                 : - C-S-L K.Bilger                      ***/
/*** Scripter/Design              : - C-S-L K.Bilger                      ***/
/***                                                                      ***/
/*** Change History *********************************************************/
/*** Version (Old/New)            : - 1.00.00                             ***/
/*** Modification Date            : - 02/17/2019                          ***/
/*** By                           : - Klaus Bilger                        ***/
/*** Reason                       : -                                     ***/
/*** Comments                     : -                                     ***/
/***                                                                      ***/
/*** Version (Old/New)            : - %Version%                           ***/
/*** Modification Date            : - %DATE%                              ***/
/*** By                           : - %PERSON%                            ***/
/*** Reason                       : - %REASON%                            ***/
/*** Comments                     : - %COMMENTS%                          ***/
/***                                                                      ***/
/****************************************************************************/
CREATE PROCEDURE [dbo].[up_get_ClientData_ActionResult]
	@Para_Actual_Term as int, @Para_Use_Long_Term_Data as int = 0 , @Para_Long_Term as int = 43503, 
	@Para_Device as Varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SET NOCOUNT ON;
	-- debug --

    declare @DateFilter as date = (select dateadd(DAY,-@Para_Actual_Term,getdate()))
	
	-- load default Version for SCCM Client Version (based on the config Tbl)
	declare @SCCM_Current_ClientVersion as varchar(20) = (select top 1 configvalue from [dbo].[SCCM_Config] where ConfigItem = 'SCCM_Current_ClientVersion')


	if @Para_Use_Long_Term_Data = 0
	begin
		Select 'ClientCertificate' as 'Component_Name',
			sum(case when ClientCertificate = 'OK' then 1 else 0 end) as Component_Count_OK, 
			sum(case when ClientCertificate <> 'OK' then 1 else 0 end) as Component_Count_ERROR 
		from v_ClientData_Actual
		where Timestamp >=  @DateFilter
		and Hostname like @Para_Device 
		
		union 
		Select 'ProvisioningMode' as 'Component_Name', 
			sum(case when ProvisioningMode = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when ProvisioningMode <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_Actual
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 

		union 
		Select 'DNS' as 'Component_Name',
			sum(case when DNS = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when DNS <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_Actual
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 

		union 
		Select 'Drivers' as 'Component_Name', 
			sum(case when Drivers = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when Drivers <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_Actual
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 

		union 
		Select 'PendingReboot' as 'Component_Name', 
			sum(case when PendingReboot = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when PendingReboot <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_Actual
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 

		union 
		Select 'Services' as 'Component_Name', 
			sum(case when Services = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when Services <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_Actual
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 

		union 
		Select 'AdminShare' as 'Component_Name', 
			sum(case when AdminShare = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when AdminShare <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_Actual
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 

		union
		Select 'StateMessages' as 'Component_Name',
			sum(case when StateMessages = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when StateMessages <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_Actual
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 
	
		union 
		Select 'WUAHandler' as 'Component_Name', 
			sum(case when StateMessages = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when StateMessages <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_Actual
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 

		union 
		Select 'WMI' as 'Component_Name', 
			sum(case when WMI = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when WMI <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_Actual
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 

		union 
		Select 'BITS' as 'Component_Name',
			sum(case when WMI = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when WMI <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_Actual
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 

		order by Component_Name  
	end

	-- query for all data
	if @Para_Use_Long_Term_Data = 1
	begin
		set @DateFilter =(select dateadd(DAY,-@Para_Long_Term,getdate())) 

		Select 'ClientCertificate' as 'Component_Name', 
			sum(case when ClientCertificate = 'OK' then 1 else 0 end) as Component_Count_OK, 
			sum(case when ClientCertificate <> 'OK' then 1 else 0 end) as Component_Count_ERROR 
		from v_ClientData_ALL
		where Timestamp >=  @DateFilter
		and Hostname like @Para_Device 

		union 
		Select 'ProvisioningMode' as 'Component_Name', 
			sum(case when ProvisioningMode = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when ProvisioningMode <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_ALL
		where Timestamp >=  @DateFilter
		and Hostname like @Para_Device 

		union 
		Select 'DNS' as 'Component_Name', 
			sum(case when DNS = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when DNS <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_ALL
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 

		union 
		Select 'Drivers' as 'Component_Name', 
			sum(case when Drivers = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when Drivers <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_ALL
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 

		union 
		Select 'PendingReboot' as 'Component_Name',
			sum(case when PendingReboot = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when PendingReboot <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_ALL
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 

		union 
		Select 'Services' as 'Component_Name', 
			sum(case when Services = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when Services <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_ALL
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 

		union 
		Select 'AdminShare' as 'Component_Name', 
			sum(case when AdminShare = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when AdminShare <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_ALL
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 

		union
		Select 'StateMessages' as 'Component_Name', 
			sum(case when StateMessages = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when StateMessages <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_ALL
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 
	
		union 
		Select 'WUAHandler' as 'Component_Name', 
			sum(case when StateMessages = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when StateMessages <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_ALL
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 

		union 
		Select 'WMI' as 'Component_Name', 
			sum(case when WMI = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when WMI <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_ALL
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 

		union 
		Select 'BITS' as 'Component_Name',
			sum(case when WMI = 'OK' then 1 else 0 end) as Component_Count_OK,
			sum(case when WMI <> 'OK' then 1 else 0 end) as Component_Count_ERROR
		from v_ClientData_ALL
		where Timestamp >=  @DateFilter 
		and Hostname like @Para_Device 
		order by Component_Name
	end
end 
GO
/****** Object:  StoredProcedure [dbo].[up_get_ClientData_flat]    Script Date: 2/22/2019 6:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************/
/*** Script Name                  : - up_get_ClientData_flat              ***/
/*** Script Version               : - 1.00                                ***/
/*** Script Desciption            : - SP for OS Summary Data              ***/
/*** Script Audience              : -                                     ***/
/*** Script Owner                 : - C-S-L K.Bilger                      ***/
/*** Scripter/Design              : - C-S-L K.Bilger                      ***/
/***                                                                      ***/
/*** Change History *********************************************************/
/*** Version (Old/New)            : - 1.00.00                             ***/
/*** Modification Date            : - 02/17/2019                          ***/
/*** By                           : - Klaus Bilger                        ***/
/*** Reason                       : -                                     ***/
/*** Comments                     : -                                     ***/
/***                                                                      ***/
/*** Version (Old/New)            : - %Version%                           ***/
/*** Modification Date            : - %DATE%                              ***/
/*** By                           : - %PERSON%                            ***/
/*** Reason                       : - %REASON%                            ***/
/*** Comments                     : - %COMMENTS%                          ***/
/***                                                                      ***/
/****************************************************************************/
CREATE PROCEDURE [dbo].[up_get_ClientData_flat]
	@Para_Actual_Term as int, @Para_Use_Long_Term_Data as int = 0 , 
	@Para_Long_Term as int = 43503, @Para_Device as Varchar(20)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SET NOCOUNT ON;
	-- debug --
    declare @DateFilter as date = (select dateadd(DAY,-@Para_Actual_Term,getdate()))
	
	-- load default Version for SCCM Client Version (based on the config Tbl)
	declare @SCCM_Current_ClientVersion as varchar(20) = (select top 1 configvalue from [dbo].[SCCM_Config] where ConfigItem = 'SCCM_Current_ClientVersion')
	
	
	if @Para_Use_Long_Term_Data = 1
	begin
		set @DateFilter =(select dateadd(DAY,-@Para_Long_Term,getdate())) 
		-- select all data from actual and historie togehter 
		select * from [dbo].[v_ClientData_ALL] 
		where Timestamp > @DateFilter
		and Hostname like @Para_Device 
		order by hostname, Timestamp desc 
	end
	if @Para_Use_Long_Term_Data = 0
	begin
		-- select only data from actual
		select * from [dbo].[v_ClientData_Actual]
		where Timestamp > @DateFilter
		and Hostname like @Para_Device 
		order by hostname, Timestamp desc 
	end
end
GO
/****** Object:  StoredProcedure [dbo].[up_get_ClientMainDiagramData]    Script Date: 2/22/2019 6:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************/
/*** Script Name                  : - up_get_ClientMainDiagramData        ***/
/*** Script Version               : - 1.00                                ***/
/*** Script Desciption            : - SP for ClientMainDiagramData        ***/
/*** Script Desciption            : - total / active / non-active         ***/
/*** Script Audience              : -                                     ***/
/*** Script Owner                 : - C-S-L K.Bilger                      ***/
/*** Scripter/Design              : - C-S-L K.Bilger                      ***/
/***                                                                      ***/
/*** Change History *********************************************************/
/*** Version (Old/New)            : - 1.00.00                             ***/
/*** Modification Date            : - 02/22/2019                          ***/
/*** By                           : - Klaus Bilger                        ***/
/*** Reason                       : -                                     ***/
/*** Comments                     : -                                     ***/
/***                                                                      ***/
/*** Version (Old/New)            : - %Version%                           ***/
/*** Modification Date            : - %DATE%                              ***/
/*** By                           : - %PERSON%                            ***/
/*** Reason                       : - %REASON%                            ***/
/*** Comments                     : - %COMMENTS%                          ***/
/***                                                                      ***/
/****************************************************************************/
CREATE PROCEDURE [dbo].[up_get_ClientMainDiagramData]
	@Para_Actual_Term as int= 8, @Para_Use_Long_Term_Data as int = 0 , 
	@Para_Long_Term as int = 43503,  @Para_Device as Varchar(20)
AS
BEGIN
	SET NOCOUNT ON;
    declare @DateFilter as date 
	-- load default Version for SCCM Client Version (based on the config Tbl)
	declare @SCCM_ClientHealthTargetCount as int = (select top 1 configvalue from [dbo].[SCCM_Config] where ConfigItem = 'SCCM_ClientHealthTargetCount');
	
	declare @ListofClientHealthActions as varchar(max) = (select top 1 configvalue from [dbo].[SCCM_Config] where ConfigItem = 'ClientHealthActions');

	if @Para_Use_Long_Term_Data = 0 
	begin
		set @DateFilter = (select dateadd(DAY,-@Para_Actual_Term,getdate()));
		with cte_Client_OK (ClientOK, Date) as 
		(
			Select count(hostname) as ClientOK, convert(date, Timestamp) as date from v_ClientData_Actual 
			where Hostname like '%' and Timestamp >= @DateFilter
			and Services = 'OK' and WUAHandler = 'OK' and WMI = 'OK' and BITS = 'OK' and DNS = 'OK'
			group by convert(date, Timestamp)
		),
		cte_Client_Fixed (ClientFixed, Date) as 
		(
			Select count(hostname) as ClientFixed, convert(date, Timestamp) as date from v_ClientData_Actual 
			where Hostname like '%' and Timestamp >= @DateFilter
			and 
				(Services in (SELECT distinct (value) FROM [dbo].[udf_Split] (@ListofClientHealthActions, ','))  
				or WUAHandler in (SELECT distinct (value) FROM [dbo].[udf_Split] (@ListofClientHealthActions, ',')) 
				or WMI in (SELECT distinct (value) FROM [dbo].[udf_Split] (@ListofClientHealthActions, ',')) 
				or BITS in (SELECT distinct (value) FROM [dbo].[udf_Split] (@ListofClientHealthActions, ',')) 
				or DNS in (SELECT distinct (value) FROM [dbo].[udf_Split] (@ListofClientHealthActions, ','))
				)
			group by convert(date, Timestamp)
		),
		cte_Client_Error(ClientError, Date) as 
		(
			Select SUM(CASE WHEN hostname IS NULL THEN 1 ELSE 0  END) AS  ClientError,  convert(date, Timestamp) as date from v_ClientData_Actual 
			where Hostname like '%' and Timestamp >= @DateFilter
			and 
				(Services = 'Error'
				or WUAHandler = 'Error'
				or WMI = 'Error'
				or BITS = 'Error'
				or DNS = 'Error'
				)
			group by convert(date, Timestamp)
		),
		cte_Client_ALL (ClientALL, Date) as 
		(
			Select count(hostname) as ClientALL, convert(date, Timestamp) as date from v_ClientData_Actual 
			where Hostname like '%' and Timestamp >= @DateFilter
			group by convert(date, Timestamp)
		) 

		select @SCCM_ClientHealthTargetCount as TargetCount,
			CASE 
				WHEN vAll.ClientALL IS NULL THEN 0
					ELSE vall.ClientALL
				END AS ClientCountAll, 
			case
				WHEN vok.ClientOK IS NULL THEN 0
					ELSE vok.ClientOK
				END AS ClientOK, 
			case
				WHEN vfix.ClientFixed IS NULL THEN 0
					ELSE vfix.ClientFixed
				END AS ClientFixed, 
			case
				WHEN vError.ClientError IS NULL THEN 0
					ELSE vError.ClientError
				END AS ClientError, 
			vall.date as ClientDate
			from cte_Client_ALL as vAll 
			left join cte_Client_OK as vOK on vAll.Date = vOK.Date 
			left join cte_Client_Fixed as VFix on vAll.date = vFix.Date
			left join cte_Client_Error as vError on vAll.Date = vError.date 
	end 
	
	if @Para_Use_Long_Term_Data = 1 -- use actual and historical data  
	begin
		set @DateFilter = (select dateadd(DAY,-@Para_Long_Term,getdate()));
		with cte_Client_OK (ClientOK, Date) as 
		(
			Select count(hostname) as ClientOK, convert(date, Timestamp) as date from v_ClientData_ALL 
			where Hostname like '%' and Timestamp >= @DateFilter
			and Services = 'OK' and WUAHandler = 'OK' and WMI = 'OK' and BITS = 'OK' and DNS = 'OK'
			group by convert(date, Timestamp)
		),
		cte_Client_Fixed (ClientFixed, Date) as 
		(
			Select count(hostname) as ClientFixed, convert(date, Timestamp) as date from v_ClientData_ALL 
			where Hostname like '%' and Timestamp >= @DateFilter
			and 
				(Services in (SELECT distinct (value) FROM [dbo].[udf_Split] (@ListofClientHealthActions, ','))  
				or WUAHandler in (SELECT distinct (value) FROM [dbo].[udf_Split] (@ListofClientHealthActions, ',')) 
				or WMI in (SELECT distinct (value) FROM [dbo].[udf_Split] (@ListofClientHealthActions, ',')) 
				or BITS in (SELECT distinct (value) FROM [dbo].[udf_Split] (@ListofClientHealthActions, ',')) 
				or DNS in (SELECT distinct (value) FROM [dbo].[udf_Split] (@ListofClientHealthActions, ','))
				)
			group by convert(date, Timestamp)
		),
		cte_Client_Error(ClientError, Date) as 
		(
			Select SUM(CASE WHEN hostname IS NULL THEN 1 ELSE 0  END) AS  ClientError,  convert(date, Timestamp) as date from v_ClientData_ALL 
			where Hostname like '%' and Timestamp >= @DateFilter
			and 
				(Services = 'Error'
				or WUAHandler = 'Error'
				or WMI = 'Error'
				or BITS = 'Error'
				or DNS = 'Error'
				)
			group by convert(date, Timestamp)
		),
		cte_Client_ALL (ClientALL, Date) as 
		(
			Select count(hostname) as ClientALL, convert(date, Timestamp) as date from v_ClientData_ALL  
			where Hostname like '%' and Timestamp >= @DateFilter
			group by convert(date, Timestamp)
		) 
		-- output tbl
		select @SCCM_ClientHealthTargetCount as TargetCount,
			CASE 
				WHEN vAll.ClientALL IS NULL THEN 0
					ELSE vall.ClientALL
				END AS ClientCountAll, 
			case
				WHEN vok.ClientOK IS NULL THEN 0
					ELSE vok.ClientOK
				END AS ClientOK, 
			case
				WHEN vfix.ClientFixed IS NULL THEN 0
					ELSE vfix.ClientFixed
				END AS ClientFixed, 
			case
				WHEN vError.ClientError IS NULL THEN 0
					ELSE vError.ClientError
				END AS ClientError, 
			vall.date as ClientDate
			from cte_Client_ALL as vAll 
			left join cte_Client_OK as vOK on vAll.Date = vOK.Date 
			left join cte_Client_Fixed as VFix on vAll.date = vFix.Date
			left join cte_Client_Error as vError on vAll.Date = vError.date
	end
end 
GO
/****** Object:  StoredProcedure [dbo].[up_get_OS_Summary_data]    Script Date: 2/22/2019 6:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************/
/*** Script Name                  : - up_get_OS_Summary_data              ***/
/*** Script Version               : - 1.00                                ***/
/*** Script Desciption            : - SP for OS Summary Data              ***/
/*** Script Audience              : -                                     ***/
/*** Script Owner                 : - C-S-L K.Bilger                      ***/
/*** Scripter/Design              : - C-S-L K.Bilger                      ***/
/***                                                                      ***/
/*** Change History *********************************************************/
/*** Version (Old/New)            : - 1.00.00                             ***/
/*** Modification Date            : - 02/17/2019                          ***/
/*** By                           : - Klaus Bilger                        ***/
/*** Reason                       : -                                     ***/
/*** Comments                     : -                                     ***/
/***                                                                      ***/
/*** Version (Old/New)            : - %Version%                           ***/
/*** Modification Date            : - %DATE%                              ***/
/*** By                           : - %PERSON%                            ***/
/*** Reason                       : - %REASON%                            ***/
/*** Comments                     : - %COMMENTS%                          ***/
/***                                                                      ***/
/****************************************************************************/
CREATE PROCEDURE [dbo].[up_get_OS_Summary_data]
	@Para_Actual_Term as int, @Para_Use_Long_Term_Data as int = 0 , 
	@Para_Long_Term as int = 43503,  @Para_Device as Varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SET NOCOUNT ON;
	-- debug --
    declare @DateFilter as date = (select dateadd(DAY,-@Para_Actual_Term,getdate()))
	
	-- load default Version for SCCM Client Version (based on the config Tbl)
	declare @SCCM_Current_ClientVersion as varchar(20) = (select top 1 configvalue from [dbo].[SCCM_Config] where ConfigItem = 'SCCM_Current_ClientVersion')
	-- check @UseHistorydate
	if @Para_Use_Long_Term_Data = 1
	begin
		set @DateFilter =(select dateadd(DAY,-@Para_Long_Term,getdate())) 

		SELECT [OperatingSystem],
			Count (HOSTNAME) as TotalCount,
			SUM(Case when ClientCertificate = 'OK' then 1 else 0 end ) as ClientCertificate_OK,
			SUM(Case when ClientCertificate <> 'OK' then 1 else 0 end ) as ClientCertificate_Error, 
			SUM(Case when ClientVersion = @SCCM_Current_ClientVersion then 1 else 0 end ) as ClientVersion_Actual, 
			SUM(Case when ClientVersion > @SCCM_Current_ClientVersion then 1 else 0 end ) as ClientVersion_Newer, 
			SUM(Case when ClientVersion < @SCCM_Current_ClientVersion then 1 else 0 end ) as ClientVersion_Older, 
			SUM(Case when ProvisioningMode = 'OK' then 1 else 0 end ) as ProvisioningMode_OK,
			SUM(Case when ProvisioningMode <> 'OK' then 1 else 0 end ) as ProvisioningMode_Error,
			SUM(Case when DNS = 'OK' then 1 else 0 end ) as DNS_OK,
			SUM(Case when DNS <> 'OK' then 1 else 0 end ) as DNS_Error,
			SUM(Case when Drivers  = 'OK' then 1 else 0 end ) as Drivers_OK,
			SUM(Case when Drivers <> 'OK' then 1 else 0 end ) as Drivers_Error,
			SUM(Case when PendingReboot   = 'OK' then 1 else 0 end ) as PendingReboot_OK,
			SUM(Case when PendingReboot <> 'OK' then 1 else 0 end ) as PendingReboot_Error,
			SUM(Case when Services = 'OK' then 1 else 0 end ) as Services_OK,
			SUM(Case when Services <> 'OK' then 1 else 0 end ) as Services_Error,
			SUM(Case when AdminShare = 'OK' then 1 else 0 end ) as AdminShare_OK,
			SUM(Case when AdminShare <> 'OK' then 1 else 0 end ) as AdminShare_Error,
			SUM(Case when StateMessages = 'OK' then 1 else 0 end ) as StateMessages_OK,
			SUM(Case when StateMessages <> 'OK' then 1 else 0 end ) as StateMessages_Error,
			SUM(Case when WUAHandler = 'OK' then 1 else 0 end ) as WUAHandler_OK,
			SUM(Case when WUAHandler <> 'OK' then 1 else 0 end ) as WUAHandler_Error,
			SUM(Case when WMI = 'OK' then 1 else 0 end ) as WMI_OK,
			SUM(Case when WMI <> 'OK' then 1 else 0 end ) as WMI_Error,
			SUM(Case when BITS = 'OK' then 1 else 0 end ) as BITS_OK,
			SUM(Case when BITS <> 'OK' then 1 else 0 end ) as BITS_Error
		FROM  [dbo].[v_ClientData_ALL]
		where Timestamp > @DateFilter
		and Hostname like @Para_Device
		group by [OperatingSystem]
	end


	if @Para_Use_Long_Term_Data = 0
	begin
		SELECT [OperatingSystem],
			Count (HOSTNAME) as TotalCount,
			SUM(Case when ClientCertificate = 'OK' then 1 else 0 end ) as ClientCertificate_OK,
			SUM(Case when ClientCertificate <> 'OK' then 1 else 0 end ) as ClientCertificate_Error, 
			SUM(Case when ClientVersion = @SCCM_Current_ClientVersion then 1 else 0 end ) as ClientVersion_Actual, 
			SUM(Case when ClientVersion > @SCCM_Current_ClientVersion then 1 else 0 end ) as ClientVersion_Newer, 
			SUM(Case when ClientVersion < @SCCM_Current_ClientVersion then 1 else 0 end ) as ClientVersion_Older, 
			SUM(Case when ProvisioningMode = 'OK' then 1 else 0 end ) as ProvisioningMode_OK,
			SUM(Case when ProvisioningMode <> 'OK' then 1 else 0 end ) as ProvisioningMode_Error,
			SUM(Case when DNS = 'OK' then 1 else 0 end ) as DNS_OK,
			SUM(Case when DNS <> 'OK' then 1 else 0 end ) as DNS_Error,
			SUM(Case when Drivers  = 'OK' then 1 else 0 end ) as Drivers_OK,
			SUM(Case when Drivers <> 'OK' then 1 else 0 end ) as Drivers_Error,
			SUM(Case when PendingReboot   = 'OK' then 1 else 0 end ) as PendingReboot_OK,
			SUM(Case when PendingReboot <> 'OK' then 1 else 0 end ) as PendingReboot_Error,
			SUM(Case when Services = 'OK' then 1 else 0 end ) as Services_OK,
			SUM(Case when Services <> 'OK' then 1 else 0 end ) as Services_Error,
			SUM(Case when AdminShare = 'OK' then 1 else 0 end ) as AdminShare_OK,
			SUM(Case when AdminShare <> 'OK' then 1 else 0 end ) as AdminShare_Error,
			SUM(Case when StateMessages = 'OK' then 1 else 0 end ) as StateMessages_OK,
			SUM(Case when StateMessages <> 'OK' then 1 else 0 end ) as StateMessages_Error,
			SUM(Case when WUAHandler = 'OK' then 1 else 0 end ) as WUAHandler_OK,
			SUM(Case when WUAHandler <> 'OK' then 1 else 0 end ) as WUAHandler_Error,
			SUM(Case when WMI = 'OK' then 1 else 0 end ) as WMI_OK,
			SUM(Case when WMI <> 'OK' then 1 else 0 end ) as WMI_Error,
			SUM(Case when BITS = 'OK' then 1 else 0 end ) as BITS_OK,
			SUM(Case when BITS <> 'OK' then 1 else 0 end ) as BITS_Error
		FROM  [dbo].[v_ClientData_Actual]
		where Timestamp > @DateFilter
		and Hostname like @Para_Device
		group by [OperatingSystem]
	end
END
GO
/****** Object:  StoredProcedure [dbo].[up_get_SCCM_statusMsg]    Script Date: 2/22/2019 6:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************/
/*** Script Name                  : - up_get_SCCM_statusMsg               ***/
/*** Script Version               : - 1.00                                ***/
/*** Script Desciption            : - new Stored Procedure                ***/
/*** Script Audience              : -                                     ***/
/*** Script Owner                 : - C-S-L K.Bilger                      ***/
/*** Scripter/Design              : - C-S-L K.Bilger                      ***/
/***                                                                      ***/
/*** Change History *********************************************************/
/*** Version (Old/New)            : - 1.00.00                             ***/
/*** Modification Date            : - 02/06/2019                          ***/
/*** By                           : - Klaus Bilger                        ***/
/*** Reason                       : -                                     ***/
/*** Comments                     : -                                     ***/
/***                                                                      ***/
/*** Version (Old/New)            : - %Version%                           ***/
/*** Modification Date            : - %DATE%                              ***/
/*** By                           : - %PERSON%                            ***/
/*** Reason                       : - %REASON%                            ***/
/*** Comments                     : - %COMMENTS%                          ***/
/***                                                                      ***/
/****************************************************************************/

CREATE PROCEDURE [dbo].[up_get_SCCM_statusMsg]

AS
BEGIN
	SET NOCOUNT ON;

	-- load config to find the actiontype
	declare @Actiontype as bit = 0 
	set @Actiontype = (select CONVERT(bit, Configvalue) from dbo.SCCM_Config where ConfigItem = 'SCCM_transfer_StatusMsg_to_ClientHealtDB')

	if @Actiontype = 0 
	begin
		print 'show data only'
		Select v_s.*, pvt.AttributeTime, pvt.DeploymentID, pvt.MacAddress, pvt.PackageID 
				From CM_ABC.dbo.v_StatusMessage AS v_S LEFT JOIN
					(SELECT Recordid, AttributeTime, [400] AS PackageID, [401] AS DeploymentID, 
					Case When [426] IS NULL THEN 'MAC Address missing' ELSE [426] END  AS MacAddress
						FROM  CM_ABC.dbo.v_StatMsgAttributes PIVOT (max(AttributeValue) FOR AttributeID 
						IN ([400], [401], [408], [425], [426])) AS P) AS pvt ON v_S.RecordID = pvt.recordid
				where 
					(MachineName in (select distinct Hostname from ClientHealth.dbo.Clients)	
				or 
					MachineName in (Select distinct Hostname +'.'+ Domain from ClientHealth.dbo.Clients))
				and MessageID not in 
				(SELECT value FROM [dbo].[udf_Split] ((SELECT top 1 ConfigValue FROM [ClientHealth].[dbo].[SCCM_Config] where ConfigItem  =	'SCCM_blocked_StatusMsg') ,','))
				and Component in 
				(SELECT value FROM [dbo].[udf_Split] ((SELECT top 1 ConfigValue FROM [ClientHealth].[dbo].[SCCM_Config] where ConfigItem  = 'SCCM_ComponetsStatusMsg') ,','))
				order by v_s.Time desc 
	end 
	if @Actiontype = 1
	begin
		print 'add data to local tbl'
		INSERT INTO [dbo].[SCCM_StatusMsg]
           ([RecordID],[ModuleName],[Severity],[MessageID],[ReportFunction],[SuccessfulTransaction],[PartOfTransaction],
		   [PerClient],[MessageType],[Win32Error],[Time],[SiteCode],[TopLevelSiteCode],[MachineName],[Component],
		   [ProcessID],[ThreadID],[AttributeTime],[DeploymentID],[MacAddress],[PackageID])
		Select v_s.*, pvt.AttributeTime, pvt.DeploymentID, pvt.MacAddress, pvt.PackageID
				From CM_ABC.dbo.v_StatusMessage AS v_S LEFT JOIN
					(SELECT Recordid, AttributeTime, [400] AS PackageID, [401] AS DeploymentID, 
					Case When [426] IS NULL THEN 'MAC Address missing' ELSE [426] END  AS MacAddress
						FROM  CM_ABC.dbo.v_StatMsgAttributes PIVOT (max(AttributeValue) FOR AttributeID 
						IN ([400], [401], [408], [425], [426])) AS P) AS pvt ON v_S.RecordID = pvt.recordid
				where 
					(MachineName in (select distinct Hostname from ClientHealth.dbo.Clients)	
				or 
					MachineName in (Select distinct Hostname +'.'+ Domain from ClientHealth.dbo.Clients))
				and MessageID not in 
				(SELECT value FROM [dbo].[udf_Split] ((SELECT top 1 ConfigValue FROM [ClientHealth].[dbo].[SCCM_Config] where ConfigItem  =		'SCCM_blocked_StatusMsg') ,','))
				and Component in 
				(SELECT value FROM [dbo].[udf_Split] ((SELECT top 1 ConfigValue FROM [ClientHealth].[dbo].[SCCM_Config] where ConfigItem  = 'SCCM_ComponetsStatusMsg') ,','))
				and v_s.RecordID not in (Select tb1.RecordID from [dbo].[SCCM_StatusMsg] as tb1)

	-- show now all status messsage
	Select * from [dbo].[SCCM_StatusMsg] order by Time desc 

	end
END
GO
/****** Object:  StoredProcedure [dbo].[up_get_SCCMClientVersion]    Script Date: 2/22/2019 6:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************/
/*** Script Name                  : - up_get_SCCMClientVersion		      ***/
/*** Script Version               : - 1.00                                ***/
/*** Script Desciption            : - SP for SCCM Client Versions         ***/
/*** Script Audience              : -                                     ***/
/*** Script Owner                 : - C-S-L K.Bilger                      ***/
/*** Scripter/Design              : - C-S-L K.Bilger                      ***/
/***                                                                      ***/
/*** Change History *********************************************************/
/*** Version (Old/New)            : - 1.00.00                             ***/
/*** Modification Date            : - 02/22/2019                          ***/
/*** By                           : - Klaus Bilger                        ***/
/*** Reason                       : -                                     ***/
/*** Comments                     : -                                     ***/
/***                                                                      ***/
/*** Version (Old/New)            : - %Version%                           ***/
/*** Modification Date            : - %DATE%                              ***/
/*** By                           : - %PERSON%                            ***/
/*** Reason                       : - %REASON%                            ***/
/*** Comments                     : - %COMMENTS%                          ***/
/***                                                                      ***/
/****************************************************************************/
CREATE PROCEDURE [dbo].[up_get_SCCMClientVersion]
	@Para_Actual_Term as int, @Para_Use_Long_Term_Data as int = 0 , 
	@Para_Long_Term as int = 43503,  @Para_Device as Varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- load the default version for the sccm client
	declare @SCCMClientVersion as Varchar(20) = (select top 1 ConfigValue  from SCCM_Config where ConfigItem = 'SCCM_Current_ClientVersion')
	declare @DateFilter as date = (select dateadd(DAY,-@Para_Actual_Term,getdate()))


	if @Para_Use_Long_Term_Data = 0
	begin
		Select ClientVersion, 
					sum(case when ClientVersion = @SCCMClientVersion then 1 else 0 end) as SCCMAgent_Count_OK,
					sum(case when ClientVersion < @SCCMClientVersion then 1 else 0 end) as SCCMAgent_Count_toOld,
					sum(case when ClientVersion > @SCCMClientVersion then 1 else 0 end) as SCCMAgent_Count_Newer
		from v_ClientData_Actual 
		where Hostname like @Para_Device
		and Timestamp >= @DateFilter
		group by ClientVersion 
		order by ClientVersion 
	end
	if @Para_Use_Long_Term_Data = 1
	begin
		set @DateFilter = (select dateadd(DAY,-@Para_Long_Term,getdate()))
		Select ClientVersion, 
					sum(case when ClientVersion = @SCCMClientVersion then 1 else 0 end) as SCCMAgent_Count_OK,
					sum(case when ClientVersion < @SCCMClientVersion then 1 else 0 end) as SCCMAgent_Count_toOld,
					sum(case when ClientVersion > @SCCMClientVersion then 1 else 0 end) as SCCMAgent_Count_Newer
		from v_ClientData_Actual 
		where Hostname like @Para_Device
		and Timestamp >= @DateFilter
		group by ClientVersion 
		order by ClientVersion 
	end
END
GO
/****** Object:  StoredProcedure [dbo].[up_GetErrorInfo]    Script Date: 2/22/2019 6:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************/
/*** Script Name                  : - up_GetErrorInfo                     ***/
/*** Script Version               : - 1.00                                ***/
/*** Script Desciption            : - erstellt Stored Procedure           ***/
/*** Script Audience              : -                                     ***/
/*** Script Owner                 : - C-S-L K.Bilger                      ***/
/*** Scripter/Design              : - C-S-L K.Bilger                      ***/
/***                                                                      ***/
/*** Change History *********************************************************/
/*** Version (Old/New)            : - 1.00.00                             ***/
/*** Modification Date            : - 01/25/2019                          ***/
/*** By                           : - Klaus Bilger                        ***/
/*** Reason                       : -                                     ***/
/*** Comments                     : -                                     ***/
/***                                                                      ***/
/*** Version (Old/New)            : - %Version%                           ***/
/*** Modification Date            : - %DATE%                              ***/
/*** By                           : - %PERSON%                            ***/
/*** Reason                       : - %REASON%                            ***/
/*** Comments                     : - %COMMENTS%                          ***/
/***                                                                      ***/
/****************************************************************************/
CREATE PROCEDURE [dbo].[up_GetErrorInfo]
AS
begin 
 declare @Error_Text as nvarchar(max), @str_line as nvarchar(max)
 set  @str_line = replicate('#*',55) 
	set @Error_Text = @str_line + char(09) +  char(13)+ char(09) +  char(13)
	set @Error_Text = @Error_Text + ' Mail erzeugt:    ' + CONVERT(varchar(25),getdate())+ char(09) +  char(13)
	if ERROR_NUMBER() is not null 
		begin 
			set @Error_Text =  @Error_Text + 'ERROR_SEVERITY:  '  + CONVERT(varchar(max),ERROR_NUMBER())+ char(09) +  char(13)
		end
	if ERROR_SEVERITY() is not null 
		begin
			set @Error_Text = @Error_Text + 'ERROR_SEVERITY:  '  + CONVERT(varchar(max),ERROR_SEVERITY())+ char(09) +  char(13)
		end
	if ERROR_STATE() is not null 
	begin
		set @Error_Text = @Error_Text + 'ERROR_STATE:     '  + CONVERT(varchar(max),ERROR_STATE())+ char(09) +  char(13)
	end
	if ERROR_PROCEDURE() is not null 
	begin
		set @Error_Text = @Error_Text + 'ERROR_PROCEDURE:   '  + CONVERT(varchar(max),ERROR_PROCEDURE())+ char(09) +  char(13)
	end
	if ERROR_LINE() is not null 
	begin
		set @Error_Text = @Error_Text + 'ERROR_LINE:      '  + CONVERT(varchar(max),ERROR_LINE())+ char(09) +  char(13)
	end
	if ERROR_MESSAGE() is not null 
	begin
		set @Error_Text = @Error_Text + 'ERROR_MESSAGE:   '  + CONVERT(varchar(max),ERROR_MESSAGE())+ char(09) +  char(13)
	end
		set @Error_Text = @Error_Text + char(09) +  char(13)
		set @Error_Text = @Error_Text + @str_line

	INSERT INTO [dbo].[LogMsg]
           ([LogMsg],[Logdate])
     VALUES
           (@Error_Text, getdate())
END

GO
/****** Object:  Trigger [dbo].[T_TB_Clients_I]    Script Date: 2/22/2019 6:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****************************************************************************/
/*** Script Name                  : - [T_TB_Clients_I]                    ***/
/*** Script Version               : - 1.00                                ***/
/*** Script Desciption            : - erstellt Trigger for Insert (Hist)  ***/
/*** Script Audience              : -                                     ***/
/*** Script Owner                 : - C-S-L K.Bilger                      ***/
/*** Scripter/Design              : - C-S-L K.Bilger                      ***/
/***                                                                      ***/
/*** Change History *********************************************************/
/*** Version (Old/New)            : - 1.00.00                             ***/
/*** Modification Date            : - 01/25/2019                          ***/
/*** By                           : - Klaus Bilger                        ***/
/*** Reason                       : -                                     ***/
/*** Comments                     : -                                     ***/
/***                                                                      ***/
/*** Version (Old/New)            : - %Version%                           ***/
/*** Modification Date            : - %DATE%                              ***/
/*** By                           : - %PERSON%                            ***/
/*** Reason                       : - %REASON%                            ***/
/*** Comments                     : - %COMMENTS%                          ***/
/***                                                                      ***/
/****************************************************************************/
--
--

CREATE TRIGGER [dbo].[T_TB_Clients_I]
   ON  [dbo].[Clients]
   AFTER INSERT
AS 
BEGIN
       begin try
             Declare @Hostname as varchar(100)
             DECLARE DS_Update_Cursor CURSOR FOR  
             SELECT Hostname FROM INSERTED
             OPEN DS_Update_Cursor   
             FETCH NEXT FROM DS_Update_Cursor INTO @Hostname   

             WHILE @@FETCH_STATUS = 0   
       BEGIN   
                    INSERT INTO  [dbo].[Clients_Hist]
                    ([Hostname],[OperatingSystem],[Architecture],[Build],[Manufacturer],[Model],[InstallDate],
                           [OSUpdates],[LastLoggedOnUser],[ClientVersion],[PSVersion],[PSBuild],[Sitecode],[Domain],
                           [MaxLogSize],[MaxLogHistory],[CacheSize],[ClientCertificate],[ProvisioningMode],[DNS],
                           [Drivers],[Updates],[PendingReboot],[LastBootTime],[OSDiskFreeSpace],[Services],[AdminShare],
                           [StateMessages],[WUAHandler],[WMI],[RefreshComplianceState],[ClientInstalled],[Version],
                           [Timestamp],[HWInventory],[SWMetering],[BITS],[PatchLevel],[ClientInstalledReason],
                           [LOG_Created_Date],[LOG_Created_by],[LOG_Action])
                           
                    SELECT 
                           [Hostname],[OperatingSystem],[Architecture],[Build],[Manufacturer],[Model],[InstallDate],
                           [OSUpdates],[LastLoggedOnUser],[ClientVersion],[PSVersion],[PSBuild],[Sitecode],[Domain],
                           [MaxLogSize],[MaxLogHistory],[CacheSize],[ClientCertificate],[ProvisioningMode],[DNS],
                           [Drivers],[Updates],[PendingReboot],[LastBootTime],[OSDiskFreeSpace],[Services],[AdminShare],
                           [StateMessages],[WUAHandler],[WMI],[RefreshComplianceState],[ClientInstalled],[Version],
                           [Timestamp],[HWInventory],[SWMetering],[BITS],[PatchLevel],[ClientInstalledReason]
                           ,Getdate() as 'Created_Date'
                           ,USER as 'Created_by'
                           ,'INSERT' as 'Action'
                           FROM INSERTED 
                           where ([Hostname] = @Hostname) 

       FETCH NEXT FROM DS_Update_Cursor INTO @Hostname   
       END   
       end try
       begin catch
             print 'error'
       end catch 
CLOSE DS_Update_Cursor   
DEALLOCATE DS_Update_Cursor
end


GO
ALTER TABLE [dbo].[Clients] ENABLE TRIGGER [T_TB_Clients_I]
GO
/****** Object:  Trigger [dbo].[T_TB_Clients_U]    Script Date: 2/22/2019 6:19:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****************************************************************************/
/*** Script Name                  : - [T_TB_Clients_U]                    ***/
/*** Script Version               : - 1.00                                ***/
/*** Script Desciption            : - erstellt Trigger for Update (Hist)  ***/
/*** Script Audience              : -                                     ***/
/*** Script Owner                 : - C-S-L K.Bilger                      ***/
/*** Scripter/Design              : - C-S-L K.Bilger                      ***/
/***                                                                      ***/
/*** Change History *********************************************************/
/*** Version (Old/New)            : - 1.00.00                             ***/
/*** Modification Date            : - 01/25/2019                          ***/
/*** By                           : - Klaus Bilger                        ***/
/*** Reason                       : -                                     ***/
/*** Comments                     : -                                     ***/
/***                                                                      ***/
/*** Version (Old/New)            : - %Version%                           ***/
/*** Modification Date            : - %DATE%                              ***/
/*** By                           : - %PERSON%                            ***/
/*** Reason                       : - %REASON%                            ***/
/*** Comments                     : - %COMMENTS%                          ***/
/***                                                                      ***/
/****************************************************************************/

CREATE TRIGGER [dbo].[T_TB_Clients_U]
   ON  [dbo].[Clients]
   AFTER Update
AS 
BEGIN
       begin try
             Declare @Hostname as varchar(100)
             DECLARE DS_Update_Cursor CURSOR FOR  
             
             SELECT Hostname FROM INSERTED
             OPEN DS_Update_Cursor   
             FETCH NEXT FROM DS_Update_Cursor INTO @Hostname   

             WHILE @@FETCH_STATUS = 0   
       BEGIN   
                    INSERT INTO [dbo].[Clients_Hist]
                    ([Hostname],[OperatingSystem],[Architecture],[Build],[Manufacturer],[Model],[InstallDate],
                           [OSUpdates],[LastLoggedOnUser],[ClientVersion],[PSVersion],[PSBuild],[Sitecode],[Domain],
                           [MaxLogSize],[MaxLogHistory],[CacheSize],[ClientCertificate],[ProvisioningMode],[DNS],
                           [Drivers],[Updates],[PendingReboot],[LastBootTime],[OSDiskFreeSpace],[Services],[AdminShare],
                           [StateMessages],[WUAHandler],[WMI],[RefreshComplianceState],[ClientInstalled],[Version],
                           [Timestamp],[HWInventory],[SWMetering],[BITS],[PatchLevel],[ClientInstalledReason],
                           [LOG_Created_Date],[LOG_Created_by],[LOG_Action])
                           
                    SELECT 
                           [Hostname],[OperatingSystem],[Architecture],[Build],[Manufacturer],[Model],[InstallDate],
                           [OSUpdates],[LastLoggedOnUser],[ClientVersion],[PSVersion],[PSBuild],[Sitecode],[Domain],
                           [MaxLogSize],[MaxLogHistory],[CacheSize],[ClientCertificate],[ProvisioningMode],[DNS],
                           [Drivers],[Updates],[PendingReboot],[LastBootTime],[OSDiskFreeSpace],[Services],[AdminShare],
                           [StateMessages],[WUAHandler],[WMI],[RefreshComplianceState],[ClientInstalled],[Version],
                           [Timestamp],[HWInventory],[SWMetering],[BITS],[PatchLevel],[ClientInstalledReason]
                           ,Getdate() as 'Created_Date'
                           ,USER as 'Created_by'
                           ,'Update' as 'Action'
                           FROM INSERTED
                           where ([Hostname] = @Hostname) 
       FETCH NEXT FROM DS_Update_Cursor INTO @Hostname   
       END   
       end try
       begin catch
             print 'error'
       
       end catch 
CLOSE DS_Update_Cursor   
DEALLOCATE DS_Update_Cursor
end


GO
ALTER TABLE [dbo].[Clients] ENABLE TRIGGER [T_TB_Clients_U]
GO
